.footer {
	background: #2c3e50;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

.footer a{
	color:white;
}

.d-block {
	margin-top: 10px;
	margin-bottom: 10px; height : 450px;
	width: 150px;
	height: 450px
}


body {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
		rgba(65, 218, 227, 0.927608543417367) 11%, rgba(0, 212, 255, 1) 100%);
}